.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

video{
  width: 100%; 
  /* height: 100%; */

}
.tiny_pic{
  height: 50px;
  width: 50px;
  clip-path: circle(50%);
}
.logo{
  height: 60px;
  width: 80px;
  object-fit: contain;
  
}
.grid-system{

  
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
  /* grid-template-rows: repeat(1,minmax(100%,1fr)); */
}
.grid-system-even{

  background-color: #61dafb;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
  /* grid-template-rows: repeat(1,minmax(100%,1fr)); */
}
.unmute{
  background: white;
  border-radius: 50%;
  padding: 25px;
  font-size: 20px;
}
.call-end{
  background: red;
  border-radius: 50%;
  padding: 25px;
  font-size: 20px;
}
.round-img {
  clip-path: circle();
}

.obj{
  object-fit: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
