.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

video{
  width: 100%; 
  height: 100%;
  object-fit: fill;

}
.tiny_pic{
  height: 50px;
  width: 50px;
  clip-path: circle(50%);
}
.logo{
  height: 60px;
  width: 80px;
  object-fit: contain;
  
}
.google{
  width: 50px;
  height: 50px;
 
}
.grid-system{

  
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(45%,1fr));
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  /* grid-template-rows: repeat(1,minmax(100%,1fr)); */
}
.big-screen-video{
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.big-screen-grid{

  background-color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
  /* grid-template-rows: repeat(1,minmax(100%,1fr)); */
  height: 100%;
}
.unmute{
  background: white;
  border-radius: 50%;
  padding: 18px;
  font-size: 20px;
}
.call-end{
  background: red;
  border-radius: 50%;
  padding: 18px;
  font-size: 20px;
}
.round-img {
  clip-path: circle();
}

.avtar{
  height: 90px;
  width: 90px;
  clip-path: circle(50%);
}
.main-heading{
  font-family: "Google Sans Display",Roboto,Arial,sans-serif;
  font-size: 2.75rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 3.25rem;
  padding-bottom: 0.5em;
}
.tag{
  height: 30px;
  width: 30px;
  clip-path: circle(50%);
}
.obj{
  object-fit: cover;
}
div::-webkit-scrollbar {
  width: 4px;
}
div::-webkit-scrollbar-thumb{
  background-image: linear-gradient(to top, #00b09b, #96c93d);
  border-radius: 25px;
}

.corner{

  border-radius: 50%;
  padding: 18px;
  font-size: 20px;

}
.scroll-bottom{
  height: 95%;
  width: 100%;
}
.google-material-icons {
  font-family: 'Google Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
@media screen and (max-width: 765px) {
  .video-container{
    height: 69vh;
    overflow: auto ;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
